.container {
    display: flex;
    gap: 0;
}
.distributed-stack {
        display: flex;
        flex-direction: column;
        height: 300px;
        justify-content: space-between; /* Puts space between items */
        border: 1px solid #333
}

.item {
    flex: 1; /* Each item takes equal vertical space */
    /* Or for centering */
    /* align-items: center; */
    /* justify-content: center; */
}

.left-panel {
    width: 300px;
    background: var(--body-background-color);
}
.right-panel {
    flex-grow: 1;
    padding: 0 15px;
    background: var(--body-background-color);
    height: 100dvh;
}
.cbox {
    justify-content: flex-start;
    padding: 0 15px;
    border-radius: 25px;
    border: 2px solid green;
    width: 240px;
    height: 870px;
    box-shadow: 1px 2px 3px 4px rgba(191,191,191,0.6);
    margin-left: 1px;
}
.payment_notify{
    justify-content: flex-start;
    padding: 0 15px;
    border-radius: 25px;
    border: 2px solid green;
    width: 440px;
    height: 200px;
    box-shadow: 1px 2px 3px 4px rgba(191,191,191,0.6);
    margin-left: 1px;
    background: #2A7B9B;
    background: radial-gradient(circle, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 84%);
}

:root {
    --md-ref-typeface-brand: 'Open Sans';
    --md-ref-typeface-plain: 'Open Sans';
    color-scheme: light dark;
}
md-elevated-button {
    width: 200px;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
}
md-outlined-text-field {
    margin-bottom: 16px;
    margin-left: 8px;
    margin-top: 8px;
    margin-right: 8px;
    --md-outlined-text-color: green;
    --md-outlined-text-color-hover: green;
    --md-outlined-text-color-active: green;
    --md-outlined-text-color-disabled: red;
    --md-outlined-text-field-input-text-color: green;
    --md-outlined-text-field-focus-input-text-color: green;

}
md-list {
    display: flex;
    --md-list-color: green;
}

md-outlined-select {
    --md-outlined-text-color-color: green;
    --md-outlined-text-color-hover: green;
}
h2 {
    font-family: var(--md-ref-typeface-brand);
    color: green;
}
table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    color: green;
}
th,td {
    text-align: left;
    border: 1px solid #ccc;
    padding: 10px;
}
th {
    background-color: #99C2C2;
}
pre {
    color: green;
}
