<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Symbols+Outlined" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/favicon.png">


    <link rel="stylesheet" th:href="@{{fileName}(fileName=${cssFileName1})}">
    <link rel="stylesheet" th:href="@{{fileName}(fileName=${cssFileName2})}">




    <script  type="module" th:src="@{{fileName}(fileName=${jsFileName1})}">
        import {styles as typescaleStyles} from '@material/web/typography/md-typescale-styles.js';

        document.adoptedStyleSheets.push(typescaleStyles.styleSheet);
    </script>

    <script th:inline="javascript">
        /*[+
        var baseUrl = [[${baseUrl}]];
        +]*/
    </script>
    <script th:src="@{{fileName}(fileName=${jsFileName2})}"></script>
    <title th:text="${pageTitle}"></title>
</head>

<body class="light">
<div class="container">
    <div class="left-panel">
        <div class="cbox">
            <p>
            <md-outlined-text-field label="Username" id="username"></md-outlined-text-field>
            </p>
            <p>
            <md-outlined-text-field label="Password" id="password" type="password"></md-outlined-text-field>
            </p>
            <p><md-elevated-button onclick="loginAndGetToken()">Login</md-elevated-button><br></p>
            <p><md-elevated-button onclick="getProducts()">Products</md-elevated-button></p>
        </div>
    </div>
    <div class="right-panel">
       <pre id="output"></pre>
       <div id="data-container"></div>
    </div>
</div>
</body>

</html>